#slider
#speed_container
  Speed:
  %span#speed_value
    1
%button#start_exercise Start
#flash_reading_container
  Ready?

:javascript

  // instantiate the slider
  $("#slider").slider({
    min: 1,
    max: 100,
    value: 1,
    slide: function(event, ui) {
      $("#speed_value").html(ui.value);
    }
  });

  $(document).keydown(function(e){
    if (e.keyCode == $.ui.keyCode.LEFT) { 
      // decrease the value
      var slider = $("#slider");
      var old_value = slider.slider("value");
      slider.slider("value", old_value - 1); 

      // show the speed
      $("#speed_value").html(slider.slider("value"));
    } else if (e.keyCode == $.ui.keyCode.RIGHT) {
      // increase the value
      var slider = $("#slider");
      var old_value = slider.slider("value");
      slider.slider("value", old_value + 1); 

      // show the speed
      $("#speed_value").html(slider.slider("value"));
    }
  });

  $(function() {
    window.words = #{@flash_reading_test.content.body.split(' ').reverse.to_json};
  });

  $('#start_exercise').click(function() {
    if (window.running) return;
    window.running = true;
    window.number_of_words = 2;
    iterate();
  });

  function fetch_next_chunk() {
    var chunk = [];
    for(var i = 0; i < window.number_of_words; i++) {
      chunk.push(window.words.pop());
    }
    return chunk.join(' ');
  }

  function get_delay(){
    // 1 - 100
    var speed = parseInt($("#speed_value").html());

    // 300 - 92.1
    return 3 * ((101 - speed) * 0.7 + 30);
  }

  function iterate() {
    var next_chunk = fetch_next_chunk();
    if (next_chunk == undefined) {
      window.running = false;
      return;
    }
    $('#flash_reading_container').html(next_chunk);
    setTimeout('iterate()', get_delay());
  }
