.exercise_description
  %button#start_exercise Start

  #chart_container
    = high_chart("flashing_numbers_chart", @flashing_numbers_chart)

:javascript
  var FlashingNumbersTest = new Object({
    number_of_digits: #{@flashing_numbers_test.number_of_digits} || 1,
    timeouts: []
  });

  $(function() {

    FlashingNumbersTest.container = $(".test_container");
    FlashingNumbersTest.messages = []; // to be displayed

    FlashingNumbersTest.start = function() {
      FlashingNumbersTest.inner_width = #{@flashing_numbers_test.distance.to_json} || 20;
      FlashingNumbersTest.outer_width = (parseInt(FlashingNumbersTest.container.css('width')) - FlashingNumbersTest.inner_width) / 2;

      this.container.show();
      $("#grayout").css("visibility", "visible");

      FlashingNumbersTest.messages = ['Ready?'];
      FlashingNumbersTest.iterate();
    }

    FlashingNumbersTest.iterate = function() {
      $("#flashing_numbers_container").remove();
      $("#flashing_numbers_question_container").remove();

      // display all messages
      var timeout = 0;
      for(var i = 0; i < this.messages.length; i++) {
        FlashingNumbersTest.timeouts.push(setTimeout(FlashingNumbersTest.show_message, timeout));
        timeout += 1000;
      }

      // destroy the message container
      FlashingNumbersTest.timeouts.push(setTimeout(FlashingNumbersTest.remove_message_container, timeout));

      // start the test
      timeout += 1000;
      FlashingNumbersTest.timeouts.push(setTimeout(FlashingNumbersTest.countdown_and_test, timeout));
    }

    FlashingNumbersTest.remove_message_container = function() {
      var div = $("#flashing_numbers_notice_container");
      if (div) div.remove();
    }

    FlashingNumbersTest.show_message = function() {
      var div = $("#flashing_numbers_notice_container");
      if (!div[0]) { // checking jQuery object
        div = $('<div id="flashing_numbers_notice_container" class="message_notice_container"></div>');
        FlashingNumbersTest.container.prepend(div);
      }
      var message = FlashingNumbersTest.messages.shift();
      div.html(message);
    }

    FlashingNumbersTest.countdown_and_test = function() {
      Countdown.callback = FlashingNumbersTest.show_and_hide_numbers;
      Countdown.start();
    }

    FlashingNumbersTest.show_and_hide_numbers = function() {
      FlashingNumbersTest.show_numbers();
      FlashingNumbersTest.timeouts.push(setTimeout(FlashingNumbersTest.clear_and_ask, 100));
    }

    FlashingNumbersTest.clear_and_ask = function() {
      FlashingNumbersTest.ask();
    }

    FlashingNumbersTest.ask = function() {
      $('#flashing_numbers_container').remove();

      var div = $('<div id="flashing_numbers_container" class="question_container">' +
        '  What numbers did you see?<br /><br />' +
        '  <input type=text id="flashing_numbers_input_left" size="3" />' +
        '  <input type=text id="flashing_numbers_input_right" size="3" />' +
        '  <a href="#" class="button" id="submit_answer">OK</a>' +
        '</div>'
      );
      FlashingNumbersTest.container.append(div);
      var input = $("#flashing_numbers_input_left");
      input.focus();
      $("#submit_answer").click(function() {
        FlashingNumbersTest.guess_and_continue();
      });
    };

    FlashingNumbersTest.guess_and_continue = function() {
      if(FlashingNumbersTest.aborted) return;
      var div = $("#flashing_numbers_question_container");
      var left_input = $("#flashing_numbers_input_left").val();
      var right_input = $("#flashing_numbers_input_right").val();
      this.guess_numbers(left_input, right_input);
      div.remove();
      this.iterate();
    }

    FlashingNumbersTest.guess_numbers = function(left_input, right_input) {
      left_input = parseInt(left_input);
      right_input = parseInt(right_input);
      if (left_input == FlashingNumbersTest.left && right_input == FlashingNumbersTest.right) {
        FlashingNumbersTest.correctly_guessed();
      } else {
        FlashingNumbersTest.incorrectly_guessed();
      }
      FlashingNumbersTest.save();
    }

    FlashingNumbersTest.correctly_guessed = function() {
      var container_width = parseInt(FlashingNumbersTest.container.css('width'));
      if (FlashingNumbersTest.inner_width + 80 < container_width - 50) {
        FlashingNumbersTest.inner_width = FlashingNumbersTest.inner_width + 80;
        FlashingNumbersTest.messages.push("Good job! Let's increase the distance!");
      } else {
        FlashingNumbersTest.inner_width = 80;
        FlashingNumbersTest.number_of_digits = FlashingNumbersTest.number_of_digits + 1;
        FlashingNumbersTest.messages.push("Good job! It's time to increase the digits!");
      }
      FlashingNumbersTest.outer_width = (container_width - FlashingNumbersTest.inner_width) / 2;
    }

    FlashingNumbersTest.incorrectly_guessed = function() {
      var container_width = parseInt(FlashingNumbersTest.container.css('width'));
      if (FlashingNumbersTest.inner_width - 80 > 80) {
        FlashingNumbersTest.inner_width = FlashingNumbersTest.inner_width - 80;
      } else {
        FlashingNumbersTest.inner_width = 80;
      }
      FlashingNumbersTest.messages.push("Try again.");
      FlashingNumbersTest.outer_width = (container_width - FlashingNumbersTest.inner_width) / 2;
    }

    FlashingNumbersTest.show_numbers = function() {
      FlashingNumbersTest.left = random_number_with_digits(FlashingNumbersTest.number_of_digits);
      FlashingNumbersTest.right = random_number_with_digits(FlashingNumbersTest.number_of_digits);

      $('#flashing_numbers_container').remove();
      var div = $('<div id="flashing_numbers_container">' +
        '  <div id="flashing_numbers">' +
        '    <div id="flashing_numbers_left" style="width:' + FlashingNumbersTest.outer_width + 'px">' +
        '      <input id="flashing_numbers_test_left_number" name="flashing_numbers_test[left_number]" size="30" type="text" />' +
        '      <span id="left_number_shown">' +
        FlashingNumbersTest.left +
        '      </span>' +
        '    </div>' +
        '    <div id="flashing_numbers_center" style="width:' + FlashingNumbersTest.inner_width + 'px">' +
        '      &nbsp;' +
        '    </div>' +
        '    <div id="flashing_numbers_right" style="width:' + FlashingNumbersTest.outer_width + 'px">' +
        '      <span id="right_number_shown">' +
        FlashingNumbersTest.right +
        '      </span>' +
        '      <input id="flashing_numbers_test_right_number" name="flashing_numbers_test[right_number]" size="30" type="text" />' +
        '    </div>' +
        '    <div class="clear">' +
        '      <input id="submit_numbers" name="commit" type="submit" value="Submit" />' +
        '    </div>' +
        '  </div>' +
        '</div>');

      FlashingNumbersTest.container.append(div);
    };

    FlashingNumbersTest.attributes = function() {
      return {
        distance: FlashingNumbersTest.inner_width,
        number_of_digits: FlashingNumbersTest.number_of_digits
      }
    }

    FlashingNumbersTest.save = function(callback) {
      if(FlashingNumbersTest.id) {
        FlashingNumbersTest.update(callback);
      } else {
        FlashingNumbersTest.create(callback);
      }
    }

    FlashingNumbersTest.create = function(callback) {
      $.post('/flashing_numbers_tests', {flashing_numbers_test: FlashingNumbersTest.attributes()}, function(data) {
        FlashingNumbersTest.id = parseInt(data.id); // so we can update later
        if(callback) callback();
      }, 'json');
    }

    FlashingNumbersTest.update = function(callback) {
      $.post('/flashing_numbers_tests/' + FlashingNumbersTest.id, {_method: 'put', flashing_numbers_test: FlashingNumbersTest.attributes()}, function(data) {
        if(callback) callback();
      }, 'json');
    }

    FlashingNumbersTest.show_chart = function() {
      $('#chart_container').load('/flashing_numbers_tests/chart');
    }

    $('#start_exercise').click(function() {
      FlashingNumbersTest.start();
    });

    $("#close_test").click(function() {
      for(var i=0; i < FlashingNumbersTest.timeouts.length; i++) {
        clearTimeout(FlashingNumbersTest.timeouts[i]);
      }
      FlashingNumbersTest.timeouts = [];

      $("#grayout").css("visibility", "hidden");
      $(".test_container").hide();
      
      FlashingNumbersTest.show_chart();
    });

    $(window).bind('beforeunload', function() { 
      FlashingNumbersTest.aborted = true;
    });

  });
