This test will measure your reading speed. Click the start button when you are ready and done when you are finished reading.
%button#start_reading Start
#content
  = @reading_speed_test.content.body
%button#finished_reading Done
