.exercise_description
  - if current_user
    %p Check out the exercises on the left. :) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis lacus eget dui condimentum suscipit. Integer sagittis congue nulla, ut hendrerit ipsum tincidunt vitae. Fusce vel quam augue. Ut enim urna, posuere sed faucibus at, commodo nec ipsum. Vivamus et accumsan nunc. Aenean ante quam, mattis vitae sollicitudin in, gravida et leo. Aenean auctor mi vitae enim posuere sollicitudin. Donec nec sem dolor. Cras nunc dolor, tincidunt vitae hendrerit sit amet, placerat sit amet odio.
  
  - else
    %p Speed Reader is a free software that can help you improve your speed reading speed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis lacus eget dui condimentum suscipit. Integer sagittis congue nulla, ut hendrerit ipsum tincidunt vitae. Fusce vel quam augue. Ut enim urna, posuere sed faucibus at, commodo nec ipsum. Vivamus et accumsan nunc. Aenean ante quam, mattis vitae sollicitudin in, gravida et leo. Aenean auctor mi vitae enim posuere sollicitudin. Donec nec sem dolor. Cras nunc dolor, tincidunt vitae hendrerit sit amet, placerat sit amet odio.
  
    %p Pellentesque volutpat gravida nulla ac ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec quis dolor sed risus aliquam malesuada. Praesent a vulputate leo. Mauris faucibus ligula egestas orci porttitor vulputate iaculis mauris adipiscing. Phasellus orci est, venenatis at facilisis eu, elementum at sem. Pellentesque nec enim ipsum, sed tincidunt arcu. Nulla rhoncus felis nunc. Morbi turpis justo, mattis nec molestie at, euismod vitae lacus. Nam dignissim interdum venenatis.
