%p
  Thank you for using SpeedReader! Check out the speed reading exercises on the left! Feel free to do the exercises in any order, but if you don't know your reading speed, it is highly recommended to start with the
  = link_to 'Reading Speed Test', new_reading_speed_test_path
  so you can measure your reading speed and comprehension.
