.page-header
  %h1 Flashing Dots

%button.btn.btn-primary#start_test Start

#chart_container
  = high_chart("flashing_dots_chart", @flashing_dots_chart)

:javascript
  var FlashingDotsTest = new Object({
    level: #{@flashing_dots_test.level.to_json} || 1,
    streak: 0
  });

  $(function() {

    FlashingDotsTest.container = $(".test_container");
    FlashingDotsTest.messages = []; // to be displayed

    FlashingDotsTest.show_dots = function() {
      var dots_low = FlashingDotsTest.level;
      var dots_high = FlashingDotsTest.level + 4;
      FlashingDotsTest.number_of_dots = random_number_between(dots_low, dots_high);
      for(var i = 0; i < FlashingDotsTest.number_of_dots; i++) {
        var dot = $('<span class="dot">&#8226;</span>');
        dot.css('top', random_number_between(20, 80) + "%");
        dot.css('left', random_number_between(20, 80) + "%");
        FlashingDotsTest.container.append(dot);
      }
    };

    FlashingDotsTest.clear_and_ask = function() {
      FlashingDotsTest.container.find('.dot').remove();
      FlashingDotsTest.ask();
    }

    FlashingDotsTest.ask = function() {
      var div = $('<div id="flashing_dots_question_container">How many dots did you see?<br /><br /><input type=text id="flashing_dots_input" size="3" /> <button class="btn btn-primary btn-large" id="submit_answer">OK</button></div>');
      FlashingDotsTest.container.append(div);
      var input = $("#flashing_dots_input");
      input.focus();
      $("#submit_answer").click(function() {
        FlashingDotsTest.guess_and_continue();
      });

      // prevent multiple submissions by using keyup and checking for focus
      $(document).keyup(function(e) {
        if(e.which == 13 && input.is(":focus")) {
          FlashingDotsTest.guess_and_continue();
        }
      });
    }

    FlashingDotsTest.guess_and_continue = function() {
      if(FlashingDotsTest.aborted) return;
      var div = $("#flashing_dots_question_container");
      var input = $("#flashing_dots_input");
      this.guess_number_of_dots(input.val());
      div.remove();
      this.iterate();
    }

    FlashingDotsTest.show_and_clear_dots = function() {
      FlashingDotsTest.show_dots();
      setTimeout(FlashingDotsTest.clear_and_ask, 200);
    }

    FlashingDotsTest.guess_number_of_dots = function(number) {
      number = parseInt(number);
      if (number == FlashingDotsTest.number_of_dots) {
        FlashingDotsTest.correctly_guessed();
      } else {
        FlashingDotsTest.incorrectly_guessed();
      }
    }

    FlashingDotsTest.correctly_guessed = function() {
      if (FlashingDotsTest.streak >= 0) {
        FlashingDotsTest.streak += 1;
      } else {
        FlashingDotsTest.streak = 1;
      }
      if(FlashingDotsTest.streak > 4) {
        FlashingDotsTest.level_up();
        FlashingDotsTest.save();
        FlashingDotsTest.messages.push('<div style="padding-top: 50px">Level ' + FlashingDotsTest.level + '</div>');
      } else {
        FlashingDotsTest.messages.push('Good job!<br />Current streak: ' + FlashingDotsTest.streak);
      }
    }

    FlashingDotsTest.incorrectly_guessed = function() {
      if (FlashingDotsTest.streak <= 0) {
        FlashingDotsTest.streak -= 1;
      } else {
        FlashingDotsTest.streak = -1;
      }
      if(FlashingDotsTest.streak < -4) FlashingDotsTest.level_down();
      FlashingDotsTest.messages.push('Nope!<br />There was ' + FlashingDotsTest.number_of_dots + '.');
    }

    FlashingDotsTest.level_up = function() {
      FlashingDotsTest.level += 1;
      FlashingDotsTest.streak = 0;
    }

    FlashingDotsTest.level_down = function() {
      if(FlashingDotsTest.level > 1) FlashingDotsTest.level -= 1;
      FlashingDotsTest.streak = 0;
    }

    FlashingDotsTest.iterate = function() {
      // display all messages
      var timeout = 0;
      for(var i = 0; i < this.messages.length; i++) {
        setTimeout(FlashingDotsTest.show_message, timeout);
        timeout += 1000;
      }

      // destroy the message container
      setTimeout(FlashingDotsTest.remove_message_container, timeout);

      // start the test
      timeout += 1000;
      setTimeout(FlashingDotsTest.countdown_and_test, timeout);
    }

    FlashingDotsTest.show_message = function() {
      var div = $("#flashing_dots_notice_container");
      if (!div[0]) { // checking jQuery object
        div = $('<div id="flashing_dots_notice_container" class="message_notice_container"></div>');
        FlashingDotsTest.container.prepend(div);
      }
      var message = FlashingDotsTest.messages.shift();
      div.html(message);
    }

    FlashingDotsTest.remove_message_container = function() {
      var div = $("#flashing_dots_notice_container");
      if (div) div.remove();
    }

    FlashingDotsTest.countdown_and_test = function() {
      Countdown.callback = FlashingDotsTest.show_and_clear_dots;
      Countdown.start();
    }

    FlashingDotsTest.start = function() {
      this.container.show();
      $("#grayout").css("visibility", "visible");
      $("#flashing_dots_question_container").remove();

      FlashingDotsTest.messages = ['<div style="padding-top: 50px">Ready?</div>', '<div style="padding-top: 50px">Level ' + FlashingDotsTest.level + '</div>'];
      FlashingDotsTest.iterate();
    }

    FlashingDotsTest.attributes = function() {
      return {
        level: FlashingDotsTest.level
      }
    }

    FlashingDotsTest.save = function(callback) {
      if(FlashingDotsTest.id) {
        FlashingDotsTest.update(callback);
      } else {
        FlashingDotsTest.create(callback);
      }
    }

    FlashingDotsTest.create = function(callback) {
      $.post('/flashing_dots_tests', {flashing_dots_test: FlashingDotsTest.attributes()}, function(data) {
        FlashingDotsTest.id = parseInt(data.id); // so we can update later
        if(callback) callback();
      }, 'json');
    }

    FlashingDotsTest.update = function(callback) {
      $.post('/flashing_dots_tests/' + FlashingDotsTest.id, {_method: 'put', flashing_dots_test: FlashingDotsTest.attributes()}, function(data) {
        if(callback) callback();
      }, 'json');
    }

    FlashingDotsTest.show_chart = function() {
      $('#chart_container').load('/flashing_dots_tests/chart');
    }

    $("#start_test").click(function() {
      FlashingDotsTest.start();
    });

    $("#close_test").click(function() {
      $("#grayout").css("visibility", "hidden");
      $(".test_container").hide();
      FlashingDotsTest.show_chart();
    });

    $(window).bind('beforeunload', function() { 
      FlashingDotsTest.aborted = true;
    });

  });
