/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#sidebar {
  margin: 0;
  padding: 10px;
  width: 300px;
  height: 100%;
  border-style: solid;
  border-width: 0 1px 0 0;
  float: left;
}

#content {
  margin-left: 330px;
}

#user_header {
  margin: 0;
  padding: 10px;
  border-style: solid;
  border-width: 0 0 1px 0;
}

#reading_text {
  display: none;
  padding: 20px;
}

.field_with_errors {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

#flashing_numbers_container {
  padding-top: 50px;
  text-align: center;
}

#flashing_numbers_left {
  float: left;
  width: 47%;
  text-align: right;
}

#flashing_numbers_center {
  width: 6%;
  float: left;
}

#flashing_numbers_right {
  float: left;
  width: 47%;
  text-align: left;
}

#flashing_numbers_test_left_number, #flashing_numbers_test_right_number {
  width: 50px;
  display: none;
}

#submit_numbers {
  display:none;
}
