- if model.errors.any?
  #error_explanation
    = pluralize(model.errors.count, "error")
    prohibited this
    = model.class.model_name.human.downcase
    from being saved
    %ul
    - model.errors.full_messages.each do |msg|
      %li= msg
